{:itonami.blueprint/id "cloud-itonami-isic-7220"
 :itonami.blueprint/name "Research and experimental development on social sciences and humanities"
 :itonami.blueprint/isic-rev5 "7220"
 :itonami.blueprint/domain :professional/rd-social-sciences
 :itonami.blueprint/license "AGPL-3.0-or-later"
 :itonami.blueprint/social-impact [:professional-standards :data-sovereignty :transparency]
 :itonami.blueprint/governor :research-integrity-governor
 :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger]
 :itonami.blueprint/optional-technologies []
 :itonami.blueprint/status :public-oss
 :itonami.blueprint/robotics true}
