{:kotoba.app/id "cloud.itonami.isic-7220", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibvwsd2q7bjek63niikekco6ktbuqbrfg4c3e2tw7i6n3emmhxduy", :kotoba.app/embed-url "ipfs://bafkreibvwsd2q7bjek63niikekco6ktbuqbrfg4c3e2tw7i6n3emmhxduy", :published {:archive "https://kotobase.net/ipfs/bafkreibvwsd2q7bjek63niikekco6ktbuqbrfg4c3e2tw7i6n3emmhxduy", :size 77658, :put-status 201, :get-status 200, :at "2026-08-15T13:37:44.155Z"}}
